<!DOCTYPE html>
<!-- This template was modified from https://getbootstrap.com/docs/4.1/examples/cover/ -->
<html lang="en" class="gr__getbootstrap_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RepS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}">
  </head>

  <script>
      function go_here(url) {
          window.location.replace(url);
      };
  </script>

  <body class="text-center">

        <a href="https://github.com/NyaliaLui/RepS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
                <h3 class="masthead-brand" onclick="go_here('/')" style="cursor: pointer;">RepS</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/help">HELP!</a>
            <a class="nav-link" href="/about">About</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lvJBdjzvbNI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>

        <div class="list__items">
            <ol type="1">
                <li>Put all your replays into a .zip file</li>
                <li>Upload the .zip file you just created</li>
                <li>Select to either Sort by <strong>player name</strong> or <strong>SC2 matchup</strong></li>
                <li>Wait a few seconds for download link</li>
                <li>Click the link and your organized replays will be downloaded as file replays.zip</li>
            </ol>
        </div>

        <hr/>
        <h2>FAQ</h2>
        <div class="list__items">
            <ul>
                <li>sort by <strong>player name</strong> will result in the same replay appearing in both player's folders.</li>
                <li>sort by <strong>player name</strong> is case sensitive, so a player name <em>NoticALs</em> and <em>noticals</em> will have their own folders of replays.</li>
                <li>sort by <strong>SC2 matchup</strong> currently does not work for team game replays such as 2v2 or 3v3.</li>
            </ul>
        </div>

      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body></html>