<!DOCTYPE html>
<!-- This template was modified from https://getbootstrap.com/docs/4.1/examples/cover/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RepS is a SC2 replay organizer">
    <meta name="author" content="Nyalia Lui">

    <title>RepS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}">
    <script>
      function prepping_download() {
        confirm("Preparing your download, this may take a few minutes.");
      }
    </script>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
            <a class="masthead-brand" href="/" style="cursor: pointer;">RepS</ha>
          <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="/premade">Premade Archives</a>
              <a class="nav-link" href="/help">HELP!</a>
              <a class="nav-link" href="/about">About</a>
          </nav>
        </div>
      </header>

      <main id="main__window" role="main" class="inner cover">
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Event</th>
                <th scope="col">Sorted by Player Name</th>
                <th scope="col">Sorted by SC2 Matchup</th>
                <th scope="col">SC2 Patch</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <th scope="row">WESG 2018</th>
                  <td><a class="download__link" data-toggle="tooltip" data-placement="bottom" title="67 MB" href="/archive/WESG-2018/P/Replays" onclick="prepping_download()">click here to download</a></td>
                  <td><a class="download__link" data-toggle="tooltip" data-placement="bottom" title="33.5 MB" href="/archive/WESG-2018/M/Replays" onclick="prepping_download()">click here to download</a></td>
                  <td>4.8.3.72282</td>
              </tr>
              <tr>
                <th scope="row">IEM Katowice 2019</th>
                <td><a class="download__link" data-toggle="tooltip" data-placement="bottom" title="158 MB" href="/archive/IEM-Katowice-2019/P/Replays" onclick="prepping_download()">click here to download</a></td>
                <td><a class="download__link" data-toggle="tooltip" data-placement="bottom" title="79.2 MB" href="/archive/IEM-Katowice-2019/M/Replays" onclick="prepping_download()">click here to download</a></td>
                <td>4.8.3.72282</td>
              </tr>
            </tbody>
          </table>

          <p>For comments, questions, and suggestions message <a id="thank__link" href="https://twitter.com/sc2reps">@sc2reps</a> on twitter.</p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Follow us on twitter <a href="https://twitter.com/sc2reps">@sc2reps</a>.</p>
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        $('.download__link').tooltip();
      </script>
</body></html>